.navbar-dark {
    background-color: #fbff12;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #0C0F0A;
    background-size: 300px 250px;
    color: #fbff12;
    border-radius: 0;
}

.modal-header{
    background-color: #0C0F0A;
    color: #fbff12;
}

.modal-body,.modal-footer{
    background-color:  #fbff12;
    color:#0C0F0A;
}

.footer{
    background-color: #fbff12;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

address{
    font-size:80%;
    margin:0px;
    color: #0C0F0A;
}

.row-header{
    margin:0px auto;
    padding:0px auto;
}

.nav-link{
    color: #0C0F0A;
}
.btn{
    background-color: #0C0F0A;
}
.fa-envelope-o{
    color: white;
}

.modal-label{
    font-weight: 500;
}
.close{
    position: absolute;
    right: 20px;
    color:  #fbff12;
}

.create-account{
    font-weight: 500;
    color: #0C0F0A;
    position: absolute;
    left: 20px;
}
.card{
    opacity: 0.9;
    background-color: #0C0F0A;
    color: #fbff12;
}
.card:hover{
    opacity: 1;
}
.card > img {
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}
.tiles > .container{
    border-radius: 0px;
    margin-bottom: 30px;
}
.carousel-item > .card{
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.card-body{
    height: 120px;
}
.carousel{
    margin-bottom: 30px;
    margin-top: 30px;
}
.carousel-caption{ 
    color: #0C0F0A;
}

.card, .carousel-control-prev,.carousel-control-next {
    cursor:pointer;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    width: 50%;
    height: 30%;
    background-color: #0C0F0A;
}

.carousel-control-prev-icon{
    background-image: url('/assets/images/arrowleft.png');
}
.carousel-control-next-icon{
    background-image: url('/assets/images/arrowright.png');
}
.modal-three > .modal-body{
    width: 70%;
    height: 615px;
    position: absolute;
    margin-left: -10px;
    margin-top: -10px;
    margin-bottom: -10px;
}
.close-sz{
    width: 100%;
    height: 615px;
    background-color: transparent;
    opacity: 0;
    margin: -10px;
}

@media only screen and (min-width: 786px) {
    .modal-three > .modal-body{
        display: none;
    }
}